@charset "utf-8";

header{
  	position: fixed;
}

header nav{
  	background-color: rgba(255, 148, 173, 0.8);
  	padding: 80px 0px ;
  	width: 100vw;
  	height: 100vh;
	display: none;
}

header nav a{
	font-family: "Kaisei Tokumin", serif;
  	display: block;
  	font-size: 22px;
  	color: #ffffff;
  	text-decoration: none;
  	padding-right: 60px;
  	line-height: 62px;
  	text-align: right;
  	transition : all 0.2s;

}

a:hover{
	color:#00A6BA;
}

#menu {
	position: fixed;
	height: 55px;
	width: 55px;
	top: 15px;
	right: 15px;
	background-image: url('../img/menu.svg');
	background-repeat: no-repeat;
	background-position: center;
}

header.open #menu {
	background-image: url('../img/menuclose.svg');
}

header.open nav{
  	display: block;
}


section#head{
  	margin: 0px;
  	padding: 15px;
}

section#head a{
  	color: #FF94AD;
  	text-decoration: none;
}

section#head h1{
	font-family: "Kaisei Tokumin", serif;
  	font-size: 11px;
  	margin: 0;
}

section#head h2{
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
  	font-size: 12px;
  	margin-top: 0px;
}

main h1{
	font-family: "Kaisei Tokumin", serif;
	color: #FF295B;
	margin: 0;
	font-size: 22px;
	font-weight: 500;
}

footer nav {
  	background-color: #FF94AD;
  	padding: 10px 5px;
  	height: 150px;
}

footer nav a{
	font-family: "Kaisei Tokumin", serif;
	font-weight: 400;
  	color: #ffffff;
  	font-size: 14px;
  	text-decoration: none;
  	transition : all 0.1s;
}

footer ul{
  	padding-left: 0;
  	margin-left: 10px;
}  			

footer li{
  	list-style: none;
  	padding-left: 0;
}



@media screen and (min-width: 1000px){

	header nav{
		background: linear-gradient(to left, rgba(255, 148, 173, 1), rgba(255, 148, 173, 0));

	}

	header nav a{
		font-size: 22px;
		line-height: 72px;
	}



	main h1{
		font-size: 35px;
	}



	footer nav a{
		font-size: 16px;
		margin-left: 20px;
	}
	footer ul{
		display: flex;
	}
}


