@charset "utf-8";

header{
  	position: fixed;
}

header nav{
  	background-color: rgba(255, 148, 173, 0.8);
  	padding: 80px 0px ;
  	width: 100vw;
  	height: 100vh;
	display: none;

	animation: fade-in .3s;

	/*animation-fill-mode: forwards;*/
}

@keyframes fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



header nav a{
	font-family: "Kaisei Tokumin", serif;
  	display: block;
  	font-size: 22px;
  	color: #ffffff;
  	text-decoration: none;
  	padding-right: 45px;
  	line-height: 62px;
  	text-align: right;
  	transition : all 0.2s;

}

a:hover{
	color:#00A6BA;
}

#menu {
	position: fixed;
	height: 55px;
	width: 55px;
	top: 15px;
	right: 15px;
	background-image: url('../img/menu.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

header.open #menu {
	background-image: url('../img/menuclose.svg');
	background-size: 60%;
}

header.open nav{
  	display: block;
}


section#head{
  	margin: 0px;
  	padding: 15px;
}

section#head a{
  	color: #FF94AD;
  	text-decoration: none;
}

section#head h1{
	font-family: "Kaisei Tokumin", serif;
  	font-size: 11px;
  	margin: 0;
}

section#head h2{
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
  	font-size: 12px;
  	margin-top: 0px;
}

main h1{
	font-family: "Kaisei Tokumin", serif;
	color: #FF295B;
	margin: 0;
	font-size: 25px;
	font-weight: 500;
}

footer {
  	background-color: #FF94AD;
  	padding: 10px 15px;
  	height: 200px;
}

footer nav a{
	font-family: "Kaisei Tokumin", serif;
	font-weight: 400;
  	color: #ffffff;
  	font-size: 15px;
  	line-height: 30px;
  	text-decoration: none;
  	transition : all 0.1s;
}

footer ul{
  	padding-left: 0;
  	margin-left: 15px;
}  			

footer li{
  	list-style: none;
  	padding-left: 0;
}

footer p{
	font-size: 10px;
	margin-top: 40px;
	color: #fff;
	text-align: center;
}

p{
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 250;
	font-size: 14px;
	line-height: 22px;
}

	a.button {
  				margin: 40px auto ;
  				font-size: 16px;
  				font-weight: 600;
  				display: block;
 				width: 190px;
 				height: 60px;
 				outline: 3px solid #fff;
 				outline-offset: -5px;
  				background-color: #FF94AD;
 		 		color: #fff;
  				line-height: 55px;
  				text-align: center;
  				text-decoration: none;
  				border-radius: 30px;
  				box-shadow: 0px 2px 0px #FF295B;
  				transition: all 0.3s;
  				font-family: "Kaisei Tokumin", serif;
			}

			a.button:hover {
  				background-color: #00A6BA;
  				box-shadow: 0px -2px 0px #008BA2;
  				transform: translate(0px, 2px);
			}



@media screen and (min-width: 1000px){

	header #menu{
		width: 90px;
		height: 90px;
		top: 30px;
		right: 40px;
	}

	header nav{
		background: linear-gradient(to left, rgba(255, 148, 173, 1), rgba(255, 148, 173, 0));
		padding-top: 120px;

	}

	header nav a{
		font-size: 30px;
		line-height: 72px;
		padding-right: 60px;
	}

	@keyframes fade-in{
	from{
		opacity: 0;
		transform: translateX(30px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}



	main h1{
		font-size: 35px;
	}



	footer nav a{
		font-size: 16px;
		margin: 25px;
	}
	footer ul{
		display: flex;
		justify-content: center;
	}

	footer p{
		margin-top: 110px;
	}

	p{
		font-size: 16px;
		line-height: 35px;
	}

}


